/archive.py
/data/
/project/
/__pycache__
/bmi.py
/bridge.jpg
/demofile.txt
/filter.py
/filtered.jpg
/kidnamed.py
/navigate.py
/random_sound.wav
/token.env
/visualize.py
/webscraper.py
*.rs
*.exe
*.pdb
/rust_adventures/
/cocoafarm.py
/GitHub/